body{

background:black;
color:white;
font-family:monospace;
margin:0;

}


#matrix{

position:fixed;
z-index:-1;

}


.sidebar{

position:fixed;
width:200px;
height:100%;

background:#111;

padding:20px;

}


.sidebar a{

display:block;
margin:15px 0;

color:white;
cursor:pointer;

}


.sidebar a:hover{

color:#ccc;

}


.content{

margin-left:220px;
padding:30px;

}


.card{

border:1px solid white;

padding:20px;
margin:20px 0;

background:rgba(0,0,0,0.7);

}


.terminal{

border:1px solid white;

padding:20px;

width:600px;

}


#terminal-input{

width:100%;

background:black;
border:none;

color:white;

outline:none;

}


.hidden{

display:none;

}